<head>
  <meta content="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" property="og:image" />
</head>

<link rel="stylesheet" href="assets/css/breadbug.css">
<div class="snowflakes">
  <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
  <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
    <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
    <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
   <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
  <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
    <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
    <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
    <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
  <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
    <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
    <div class="snowflake"><img src="https://media.tenor.com/YtRnZ4nNn-oAAAAi/breadbug-giant-breadbug.gif" style="width:20px;" /></div>
</div>
</div>
