<div class="contentContainer">
    <h1> Welcome! (•◡•)/</h1>
    <p>
        This corner hosts my website and blog. It's inspired by all the wonderful creations from the web revival movement.
        It was created on April 8th, 2020. The internet is one of the most important human creations, and we are all part of it!<br><br>

        I like to write code. Sometimes, I even make things. Interested in who I am? Go <a href="./breadbug.html">here</a>!<br><br>
        Some quick facts:<br>
        <ul>
            <li> I currently live in the US of A.</li>
            <li> My favorite programming languages are C and Rust.</li>
            <li> I like <a href="https://steamcommunity.com/id/Qeolvdxu">board/video games</a>. (mostly Indie & Nintendo)</li>
            <li> I am an academic researcher.</li>
            <li> I hate mornings.</li>
            <li> Sometimes I help out with <a href="https://hpc.social/">HPC.Social</a>!</li>
            <li> I spend almost all my time writing, coding, playing games, or chatting.</li>
            <li> I'm half Persian and sometimes can kind of understand some Farsi.</li>
            <li> I mostly code programs for <a href="https://en.wikipedia.org/wiki/High-performance_computing">supercomputers</a>.</li>
            <li> I love to get messages. (this means <a href="https://discordapp.com/users/717329669564923918">contact me!</a>) </li>
        </ul>
    </p>
</div>

<marquee scrollamount="3" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();" direction="right" id="buttons-sites">
    <a rel="noopener" href="https://neocities.org/site/qeolvdxu" target="_blank">
        <img src="assets/images/misc/neocities-button.gif" alt="">
    </a>
    <a rel="noopener" href="https://github.com/qeolvdxu" target="_blank">
        <img src="assets/images/misc/github-button.gif" alt="">
    </a>
    <a rel="noopener" href="https://www.twitch.tv/qeolvdxu" target="_blank">
        <img src="assets/images/misc/twitch-button.gif" alt="">
    </a>
    <a class="navlink" href="mailto:haydenve@vt.edu">
        <img src="assets/images/misc/email-button.gif" alt="">
    </a>
    <a rel="noopener" href="https://discordapp.com/users/717329669564923918" target="_blank">
        <img src="assets/images/misc/discord-button.gif" alt="">
    </a>
</marquee>

