<div class="contentContainer">
    <h1>Projects</h1>
    <a href="https://github.com/Qeolvdxu/neocity">Website: This Neocity!</a><br>
    <a href="https://github.com/Qeolvdxu/pcg_precision_comparison">Framework: C Program to run Preconditioned Conjugate Gradient across devices and simulate both precisions and faults</a><br>
    <a href="./assets/pdfs/poster2.pdf">Poster: "Simultaneous Evaluation of Mindful Fault Checking Across the CPU and GPU" (SC23)</a><br>
    <a href="./assets/pdfs/poster1.pdf">Poster: "Algorithm Based Fault Tolerance at Scale" (RCEU)</a><br>
    <a href="https://qeolvdxu.itch.io/adventure-to-the-sun">Hackathon: Adventure to the Sun (NASA Spaceapps) <span class="blink_text">Interactive Page!</span></a><br>
    <a href="https://github.com/Qeolvdxu/termGo">Concept: Play Go in your terminal</a><br>
    <a href="https://github.com/Qeolvdxu/textBaduk2">Library: TextBaduk2 is a C++ library to ease creation of Go/Baduk Games.</a><br>
</div>

